% rebase('templates/en/template.ptl', title="Home")

<!-- Header -->
<div id="pageHeader">
  <h1>
    Python Course-in-a-Box
  </h1>
</div>
<div>
  Last updated February 2021
</div>
<hr/>

<p>
On this page you will find program writeups for each of the assignments in the CS Bridge course. This course was designed for 3 weeks online. Since this course was designed online across three different timezones (US Pacific, Czech, and Turkey), each day was split into two work sessions: morning and evening. Some days only had one morning or evening session.</p>

<h2>On this page</h2>
<ul>
  <li><a href="#timing">A Typical Day</a></li>
  <li><a href="#schedule">Schedule at-a-glance</a></li>
  <li><a href="#assignments">Assignment List</a></li>
  <li><a href="#lecture">Lecture slides and code download</a></li>
  <li><a href="#starter">Assignment starter code download</a></li>
  <li><a href="#worked">Worked examples</a></li>
</ul>

<p>For more information, please use the navigation bar above to access instructor <b>lesson plans</b>, <b>cloneable course websites</b>, and more course logistics.
Contact us at <a href="mailto:csbridge@cs.stanford.edu">csbridge@cs.stanford.edu</a> to request assignment solutions.
</p>

<hr/>

<div class="section">
  <h2 id="timing">A Typical Day</h2> 
  <p>
  This version of our CS Bridge Python course was designed for an online program with the components below.
  Each component is marked as either <b>online time</b> (students sign on to a video-conferencing session) or as <b>active time</b> (students work on the computer and can sign onto a video-conferencing platform to attend a synchronous staff help session, or they can post to an asynchronous discussion forum).
  </p>
  <ul>
    <li><b>Lecture</b>: Instructor introduces new concepts and demos coding examples to the entire class.</li>
    <li><b>Quickstart</b>: Students try out a warmup coding exercise.</li>
    <li><b>Tea Time</b>: Section Leaders check in with students and answer quick questions before the next activity.</li>
    <li><b>Section</b>: Section Leaders lead a discussion section where students actively engage together in solving a problem.</li>
    <li><b>Work/Office Hours</b>: Students complete an advanced coding exercise.</li>
  </ul>
  <p>
  In the online program, each day is broken up into two sessions: AM (2.5 hours) and PM (3 hours), for <b>5.5 hours a day</b>. Our full online program is <b>13 days</b> (four of which are half-days), corresponding to a <b>60-hour program</b> (27 hours online time, 33 hours active time). 
  The program length can be adjusted to accommodate different schedules. An in-person full-time program (9am-5pm) is 9 days in length, the last of which is a half-day.
  </p>
  <p>A more detailed breakdown of our daily schedule is below.</p>
  <table class="table table-sm">
<%
     components = [
          ("AM-1", "Lecture", "online", "0.5 hour"),
          ("AM-2", "Quickstart", "active", "0.5 hour"),
          ("AM-3", "Tea Time", "online", "0.5 hour"),
          ("AM-4", "Work/Office Hours", "active", "1 hour"),
          ("", "Morning Submit", "", ""),
          ("PM-1", "Lecture", "online", "0.5 hour"),
          ("PM-2", "Quickstart", "active", "0.5 hour"),
          ("PM-3", "Section", "online", "1 hour"),
          ("PM-4", "Work/Office Hours", "active", "1 hour"),
          ("", "Afternoon/Evening Submit", "", ""),
     ]
%>
    <thead>
      <tr>
        <th scope="col">Order</th>
        <th scope="col">Program activity</th>
        <th scope="col">Type</th>
        <th scope="col">Duration</th>
      </tr>
    </thead>
    <tbody>
    % for i, (order, component, comp_type, hrs) in enumerate(components):
      <tr>
        <th scope="row">{{order}}</th>
        <td>{{component}}</td>
        <td>{{comp_type}}</td>
        <td>{{hrs}}</td>
      <tr/>
    % end
    </tbody>
  </table>
</div>

<div class="section">
  <h2 id="schedule">Online Topic Schedule</h2>
<%
     days = [
          ("[Week 1] Tuesday", "Karel", "Evening only"),
          ("Wednesday", "Karel and Control Flow", ""),
          ("Thursday", "Variables", ""),
          ("Friday", "For loops, deconstructed", "Morning only (Evening social)"),
          ("[Week 2] Monday", "Graphics and Functions", ""),
          ("Tuesday", "Loops and Animation", ""),
          ("Wednesday", "Lists and Mouse", ""),
          ("Thursday", "Breakout", ""),
          ("Friday", "More Breakout", "Morning only (Evening social)"),
          ("[Week 3] Monday", "Creative Project", ""),
          ("Tuesday", "Creative Project", ""),
          ("Wednesday", "Creative Project", ""),
          ("Thursday", "Creative Project", "Morning only (Closing ceremony)"),
     ]
%>
<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">Day</th>
      <th scope="col"></th>
      <th scope="col">Topic</th>
      <th scope="col">Notes</th>
    </tr>
  </thead>
  <tbody>
    % for i, (day, topic, notes) in enumerate(days):
      <tr>
        <th scope="row">{{i+1}}</th>
        <td>{{day}}</td>
        <td>{{topic}}</td>
        <td>{{notes}}</td>
      <tr/>
    % end
  </tbody>
</table>
</div> <!-- end schedule -->

<!-- Daily schedule / list of programs -->
<div class="section">
	<h2 id="assignments">Assignment List</h2>
  <!--
	<div class="alert alert-info">
	  Here are instructions for how to work on the programs below during labs: <a href="{{pathToRoot}}en/handouts/eclipse.html">click here</a>.
	</div>
  -->
	%include("templates/programs/projectsTable.ptl", lang="python")
</div>

<!-- Daily schedule / list of programs -->
<div class="section" id="schedule">
	<h2>Bonus Programs</h2>
 %include("templates/programs/bonusProjectsTable.ptl", lang="python")
</div>

<hr/>

<div class="section">
  <h2 id="lecture">Lecture slides and code</h2>
  <p>
  Right-click -> "Save As..." to download all lecture slides and lecture code.
  </p>
	<%
		# Read the data from the JSON file
		import json
		with open("templates/python/lectures.json", "r", encoding="utf8") as lectures_file:
	  		data = json.load(lectures_file)
	%>
  <ul>
	% for i, lecture_info in enumerate(data):
    <li>{{lecture_info["title_en"]}} - 
		% for content_type in ["slides", "code"]:
			% if (content_type + "URL") in lecture_info:
		    [<a href="{{pathToRoot}}python/{{lecture_info[content_type + 'URL']}}">{{content_type.capitalize()}}</a>]
      % end
    % end
    </li>
  % end
  </ul>
</div>

<hr/>

<div class="section">
  <h2 id="starter">Assignment starter code</h2>
  <p>
  Right-click -> "Save As..." to download all starter code.
  </p>
  <%
  	# Read the data from the JSON file
  	import json
  	with open("templates/python/programs.json", "r", encoding="utf8") as programs_file:
    		data = json.load(programs_file)
  %>
  <ul>
  % for i in range(len(data)):
		% day_info = data[i]
    <li>Day {{i+1}}: {{day_info["title_en"]}}</li>
    <ul>
    % for section in day_info["sections"]:
    <li><a href="{{pathToRoot}}{{section['projectURL']}}">{{section["title_en"] + " Project"}}</a></li>
    % end
    </ul>
  % end
  </ul>
</div>

<div class="section">
  <h2 id="worked">Worked examples</h2>
  <p>These are examples posted on the website that students can read or review during their work time.</p>
	<%
		# Read the data from the JSON file
		import json
		with open("templates/python/programs.json", "r", encoding="utf8") as programs_file:
	  		data = json.load(programs_file)
    content_type = "examples"
	%>
  <ul>
  % for i, day_info in enumerate(data):
		<% 	
			# Skip this day if it doesn't have any content
			has_content = False
			for section in day_info["sections"]:
				if content_type in section:
					has_content = True
					break
				end
			end
			if not has_content:
				continue
			end 
		%>
    <li>Day {{i+1}}: {{day_info["title_en"]}}</li>
    <ul>
		% for section in day_info["sections"]:
			% if content_type in section:
        % for program in section[content_type]:
        <li>
        <a href="{{pathToRoot}}python/{{program['url']}}">{{program["title_en"]}}</a>
        </li>
        % end
      % end
    % end
    </ul>
  % end
  </ul>


<hr/>

